.toolboxContainer {
  @apply absolute top-1/2 left-5 w-64 p-5 rounded-md;
  transform: translateY(-50%);
  box-shadow: theme("colors.shadow1");
  border: 1px solid theme("colors.border1");
  background-color: theme("colors.background1");

  .toolItem {
    @apply mb-5;

    .toolText {
      font-size: 11px;
      color: theme("colors.text1");
    }

    .itemContainer {
      @apply flex justify-between mt-2;

      /* Active fix */
      .colorBoxActive {
        @apply h-5 w-5 mr-1 rounded-sm cursor-pointer;

        border: 1px solid theme("colors.border2");
        box-shadow: theme("colors.shadow2");
      }
      .colorBox {
        @apply h-5 w-5 mr-1 rounded-sm cursor-pointer;

        /* Active is not working here so created separate class above */
        &:hover {
          border: 1px solid theme("colors.border2");
          box-shadow: theme("colors.shadow2");
        }
      }
    }
  }
}
